@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 90%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 6% 10%;
    --radius: 0.75rem;

    --chart-1: 220 70% 50%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

     --sidebar-background: 240 10% 97%;
     --sidebar-foreground: 240 6% 10%;
     --sidebar-primary: 240 6% 10%;
     --sidebar-primary-foreground: 0 0% 98%;
     --sidebar-accent: 240 5% 90%;
     --sidebar-accent-foreground: 240 6% 10%;
     --sidebar-border: 240 6% 90%;
     --sidebar-ring: 240 6% 10%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 0 0% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-thin;
    background-image: radial-gradient(hsl(var(--muted-foreground) / 0.1) 1px, transparent 1px);
    background-size: 1.5rem 1.5rem;
    font-feature-settings: 'cv03', 'cv04', 'cv11';
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-normal;
  }

  .glassmorphic {
    @apply border border-black/5 bg-white/70 backdrop-blur-lg;
  }
}
